VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=

VITE_PSYCHIC_LINK_OAUTH_URL=https://link.psychic.dev/oauth/redirect

VITE_SERVER_URL=http://localhost:5173


VITE_PUBLIC_POSTHOG_DISABLED=true
VITE_PUBLIC_POSTHOG_HOST=
VITE_PUBLIC_POSTHOG_KEY=