.react-chatbot-kit-chat-container {
    width: initial;
}

.react-chatbot-kit-chat-inner-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.react-chatbot-kit-chat-message-container {
    height: auto;
    max-height: 90%;
}

.btn--tag, html {
    font-size: initial;
}

.react-chatbot-kit-chat-bot-message {
    width: 233px;
}