#!/bin/bash

gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://us-central1-docker.pkg.dev

docker push us-central1-docker.pkg.dev/{PROJECT}/{FOLDER}/workflow_job:latest